# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# SQLite Databases
*.db
*.sqlite3

# Archive Databases
archive_databases/

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Build Files
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# Logs
*.log